.address {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.bumper {
    position: relative;
    height: 20px;
    background-color: #fabe09;
    z-index: 1;
}

.closing {
    flex: 1 1 100%;
    flex-direction: row;
    position: relative;
    padding: 1em;
    align-items: center;
    justify-content: center;
    background-color: rgba(91, 104, 227);
}

.contact {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex: 1 1 100%;
    background-color: #fabe09;
    padding: 2em;
    width: 100vw;
}

.contact form {
    display: flex;
    width:50%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding:1em;
    border-radius: 10px;
    background-color: #fabe09;
    color: white;
}

.contact-form {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}


.fullscreen {
    display: flex;
    position: relative;
    padding: 4em;
    z-index: 0;
    background-color: white;
}

.fullscreen > .text {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.fullscreen>.text>.btn {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 30%;
    margin-left: 35%;
}


.footer {
    background-color: white;
    color: black;
    position: relative;
    display: flex;
    padding: 1em;
    align-items: center;
}


.headline {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.headline h1 {
    text-align: center;
    font-family: EastmanCondensedTrial-Extrabold, Helvetica;
    font-size: 5em;
    opacity: 1;
    color: white;
}

.h2 {
    font-family: EastmanCondensedTrial-Extrabold;
    text-transform: uppercase;
}

.h3 {
    font-family: EastmanCondensedTrial-Medium;
    text-transform: uppercase;
}

.h4 {
    font-family: EastmanCondensedTrial-MediumItalic;
}

.hide {
    display: none !important;;
}

.home-hero-overlay {
    flex: 1 1 100%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    justify-content: center;
}

.home-hero {
    flex: 1 1 100%;
    position: relative;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    z-index: -1;
    justify-content: center;
}

html * {
    font-family: EastmanCondensedTrial-Regular, Helvetica, sans-serif;
    font-size: 1em;
}

.logo-body {
    position: relative;
    height: 100%;
    justify-content: flex-start;
    align-content: center;
}

.logo-body img {
    display: flex;
    max-height: 40px;
}

.logo-wrap {
    text-align: center;
}

.logo-wrap>img {
    height: 4em;
    padding: 10px;
}

#nav-slide {
    display: none;
}

.nav-toggle {
    display: none;
    width: 70px;
    object-fit: contain;
}

.nav-links {
    font-family: EastmanCondensedTrial-Heavy, Helvetica;
    display: inherit;
    text-align: right;
    list-style-type: none;
    justify-content: space-evenly;
    border-bottom: 2px solid #fabe09;
}

.navigation {
    position: fixed;
    width: 100%;
    flex: 1 1 100%;
    justify-content: space-between;
    padding: 1.5em;
    margin: 0px;
    background-color: none;
    z-index: 0;
    align-items: center;
    align-content: center;
    height: 5em;
}

.navigation.scrolled {
    background-color: rgba(238, 110, 60, 0.7);
}

.navigation li {
    list-style-type: none;
    flex: 1 1 50%;
    justify-content: space-between;
    display: inline-flex;
    flex-direction: row;
    text-transform: uppercase;
    align-self: flex-end;
    padding: 0.5em;
}

.navigation li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.navigation li a.current {
    color: #ee6e3c;
    text-decoration: none;
}

.navigation li a:visited {
    color: white;
    text-decoration: none;
}

.navigation li a:hover {
    color: #5b68e3;
    text-decoration: none;
}

.no-click {
    pointer-events: none; 
}

p {
    font-size: 1.5em;
}

.portfolio-stack {
    display: flex;
    position: relative;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.portfolio-card > a {
    width: 100%;
}

.portfolio-card {
    display: flex;
    position: relative;
    width: 33%;
    height: 30vh;
    margin: .5em;
    background-size: cover;
}

.portfolio-card:hover .portfolio-card-overlay {
    background-color: rgba(250, 190, 9, 0.9);
    opacity: 1;
    -webkit-transition: background-color .5s ease-in, opacity .5s ease-in;
    transition: background-color .5s ease-in, opacity .5s ease-in;
}

.portfolio-card-overlay {
    display: flex;
    position: relative;
    background-color: rgba(238, 110, 60, 0.9);
    width: 100%;
    height: 100%;
    -webkit-transition: background-color .5s ease-in, opacity .5s ease-in;
    transition: background-color .5s ease-in, opacity .5s ease-in;
}

.portfolio-card-text {
    display: flex;
    flex-direction: column;
    padding: 1em;
    color: white;
    justify-content: center;
}

.quote {
    flex: 1 1 100%;
    position: relative;
    height: 10em;
    clear: both;
    padding: 2em 1em 1em 2em;
    color: white;
    align-content: center;
    justify-content: center;
    background-color: #ee6e3c;
    text-align: center;
}

.service-description {
    display: none;
}

.service-description img {
    display: flex;
    width: 100%;
}

.services {
    position: relative;
    flex: 1 1 50%;
    align-items: center;
    justify-content: center;
    padding: 5em;
    z-index: 1;
    background-color: #fabe09;
    color: black;
}

.services-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0;
    z-index: 0;
}

.services-list-block {
    flex: 3 1 100%;
    width: 100%;
    background-color: #ee6e3c;
    color: white;
    padding: 2em;
    z-index: 0;
}


.services-list-block:hover {
    background-color: rgba(250, 190, 9);
    opacity: 1;
    -webkit-transition: background-color .5s ease-in, opacity .5s ease-in;
    transition: background-color .5s ease-in, opacity .5s ease-in;
}


.service-icon {
    display: flex;
    padding: 1em;
}

.service-icon img {
    object-fit: contain;
    width: 100%;
    height: auto;
    padding: 15%;
}

.service-slide {
    display: flex;
    text-align: center;
    align-content: center;
}

.show {
    display: flex;
    flex-direction: column;
}

.social-links {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: flex-end;
    flex: 1 1 50%;
    align-items: flex-end;
    align-content: flex-end;
}

.social-links a {
    display: flex;
    object-fit: contain;
    width: 30%;
    height: auto;
    padding: 1em;
    text-align: end;
    align-content: flex-end;
    justify-content: flex-end;
}

.social-links a img {
    width: 20%;
}

.sub-hero-overlay {
    flex: 1 1 100%;
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    position: fixed;
    background-color: #5b68e3;
    z-index: -1;
    justify-content: center;
}

.sub-hero {
    flex: 1 1 100%;
    position: relative;
    width: 100vw;
    height: 50vh;
    object-fit: contain;
    z-index: -1;
    justify-content: center;
}


.slideshow {
    display: flex;
    flex-direction: column;
    height: 45em;
    margin: .3em;
    padding: 2em;
    border-radius: 10px;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: black;
    box-shadow: 5px 5px 5px black;
}

.slideshow > h3 {
    color: black;
    text-align: center;
}

.slideshow-row {
    display: flex;
    height: auto;
    flex-wrap: nowrap;
    justify-content: center;
}

.visible {
    display: flex;
}


#myVideo {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    object-fit: cover;
    position: fixed;
    left: -10;
    right: -10;
    top: 0;
    bottom: 0;
    z-index: -2;
    clear: both;
    background-color: white;
}

@media screen and (max-width: 900px) {
    .address {
        flex-direction: row;
        flex: 1 1 45%;
        padding-bottom: 1em;
    }

    .bg-orange {
        background-color: rgba(238, 110, 60, 0.7);
    }

    .bumper {
        height: 20px;
        background-color: #fabe09;
    }

    .closing {
        flex: 1 1 100%;
        flex-direction: row;
        position: relative;
        padding: 1em;
        align-items: center;
        justify-content: center;
        background-color: none;
    }

    .contact {
        display: flex;
        flex: 1 1 100%;
        padding-bottom: 15%;
        width: 100vw;
    }

    .contact form {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
    }


    .footer {
        flex: 1 1 100%;
        flex-direction: row;
        padding: 1em;
        text-align: center;
    }

    .fullscreen {
        height: auto;
        align-items: center;
        justify-content: center;
        padding: 2em;
    }

    .fullscreen > .text {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        justify-content: space-between;
    }

    .fullscreen>.text>.btn {
        width: 100%;
        margin: 0;
    }

    .headline {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-top: 3em;
    }

    .headline h1 {
        text-align: center;
        color: white;
        font-family: EastmanCondensedTrial-Bold;
        font-size: 3em;
    }

    h1 {
        font-family: EastmanCondensedTrial, Helvetica;
    }

    .home-hero {
        flex: 1 1 100%;
        position: relative;
        height: 815px;
        background-image: url(/img/hero-image.jpeg);
        object-fit: contain;
        z-index: -1;
        justify-content: center;
    }

    .home-hero-overlay {
        flex: 1 1 100%;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 0;
        justify-content: center;
    }

    .logo-body {
        display: flex;
        align-items: center;
        position: relative;
        height: 100%;
        padding-top: 1%;
    }

    .logo-wrap {
        text-align: center;
    }

    .logo-wrap img {
        height: 50px;
        padding: 10px;
    }

    .logo-body img {
        display: flex;
        max-height: 40px;
    }

    #nav-slide {
        display: none;
        position: absolute;
        top: 80px;
        right: 0px;
        height: auto;
        width: 100vw;
        background-color: rgba(238, 110, 60, 0.7);
        color: white;
    }

    #nav-slide li {
        position: relative;
        display: flex;
        flex: 1 1 100%;
    }

    #nav-slide li a {
        font-size: 5vh;
        color: white;
    }

    .nav-toggle {
        display: none;
        width: 70px;
        object-fit: contain;
    }

    .navigation {
        position: fixed;
        width: 100%;
        flex: 1 1 100%;
        justify-content: space-between;
        padding: 2%;
        margin: 0px;
        background-color: none;
        z-index: 3;
        align-items: center;
    }

    .navigation.scrolled {
        background-color: rgba(238, 110, 60, 0.7);
    }


    .navigation li {
        color: white;
        list-style-type: none;
        flex: 1 1 50%;
        justify-content: space-around;
        display: inline-flex;
        flex-direction: row;
        text-transform: uppercase;
        align-self: flex-end;
    }

    .navigation li a {
        text-decoration: none;
        font-size: 18px;
    }

    .navigation li a:active {
        color: grey;
    }

    .navigation li a:visited {
        color: white;
        text-decoration: none;
    }

    .navigation li a:hover {
        color: #5b68e3;
        text-decoration: none;
    }

    p {
        font-size: 1em;
    }

    .portfolio-stack {
        display: flex;
        flex-direction: column;
        position: relative;
        flex: 1 1 100%;
        width: 100vw;
        justify-content: space-between;
    }
    
    .portfolio-card {
        display: flex;
        width: 100%;
        height: 30vh;
        margin: 0.2em;
        background-size: cover;
    }

    .portfolio-card > a {
        width: 100%;
    }
    
    .portfolio-card:hover .portfolio-card-overlay {
        background-color: rgba(250, 190, 9, 0.9);
        opacity: 1;
        -webkit-transition: background-color .5s ease-in, opacity .5s ease-in;
        transition: background-color .5s ease-in, opacity .5s ease-in;
    }
    
    .portfolio-card-overlay {
        display: flex;
        flex: 1 1 100%;
        position: relative;
        background-color: rgba(238, 110, 60, 0.9);
        width: 100%;
        height: 100%;
        -webkit-transition: background-color .5s ease-in, opacity .5s ease-in;
        transition: background-color .5s ease-in, opacity .5s ease-in;
    }
    
    .portfolio-card-text {
        display: flex;
        flex-direction: column;
        padding: 1em;
        color: white;
        justify-content: center;
    }

    .quote {
        flex: 1 1 100%;
        position: relative;
        height: 20%;
        clear: both;
        padding: 2em 1em 1em 1em;
        color: white;
        background-color: #ee6e3c;
    }

    .quote p {
        font-family: EastmanCondensedTrial-LightItalic, Helvetica;
        font-size: 1em;
    }

    .services {
        position: relative;
        padding: 20% 0% 10% 0%;
        flex: 1 1 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: none;
    }

    .services-list {
        z-index: 1;
    }

    .service-description {
        flex-direction: column;
    }

    .service-description img {
        display: flex;
        width: 100%;
    }

    .slideshow {
        width: 100%;
        height: auto;
    }

    .slideshow-row {
        display: flex;
        flex: 1 1 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .social-links {
        flex: 1 1 100%;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    .social-links a {
        display: flex;
        object-fit: contain;
        width: 30%;
        height: auto;
        padding: 1em;
        justify-content: center;
    }

    .social-links a img {
        display: flex;
        flex-direction: row;
        object-fit: contain;
        width: 35%;
        height: auto;
        padding: 0em;
        justify-content: center;
    }

    .sub-hero-overlay {
        flex: 1 1 100%;
        width: 100vw;
        height: 30vh;
        object-fit: cover;
        position: fixed;
        background-color: #5b68e3;
        z-index: 0;
        justify-content: center;
    }
    
    .sub-hero {
        flex: 1 1 100%;
        position: relative;
        width: 100vw;
        height: 30vh;
        object-fit: contain;
        z-index: -1;
        justify-content: center;
    }

    .text {
        display: flex;
        position: relative;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        display: none;
    }

    .nav-toggle {
        display: inline-flex;
        justify-content: flex-end;
        width: 1em;
    }
}

@font-face {
    font-family: 'EastmanCondensedTrial-BoldItalic';
    src: url('EastmanCondensedTrial-BoldItalic.eot');
    src: url('EastmanCondensedTrial-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-BoldItalic.woff2') format('woff2'),
        url('EastmanCondensedTrial-BoldItalic.woff') format('woff'),
        url('EastmanCondensedTrial-BoldItalic.ttf') format('truetype'),
        url('EastmanCondensedTrial-BoldItalic.svg#EastmanCondensedTrial-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-BlackItalic';
    src: url('EastmanCondensedTrial-BlackItalic.eot');
    src: url('EastmanCondensedTrial-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-BlackItalic.woff2') format('woff2'),
        url('EastmanCondensedTrial-BlackItalic.woff') format('woff'),
        url('EastmanCondensedTrial-BlackItalic.ttf') format('truetype'),
        url('EastmanCondensedTrial-BlackItalic.svg#EastmanCondensedTrial-BlackItalic') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-Black';
    src: url('EastmanCondensedTrial-Black.eot');
    src: url('EastmanCondensedTrial-Black.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-Black.woff2') format('woff2'),
        url('EastmanCondensedTrial-Black.woff') format('woff'),
        url('EastmanCondensedTrial-Black.ttf') format('truetype'),
        url('EastmanCondensedTrial-Black.svg#EastmanCondensedTrial-Black') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-Light';
    src: url('EastmanCondensedTrial-Light.eot');
    src: url('EastmanCondensedTrial-Light.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-Light.woff2') format('woff2'),
        url('EastmanCondensedTrial-Light.woff') format('woff'),
        url('EastmanCondensedTrial-Light.ttf') format('truetype'),
        url('EastmanCondensedTrial-Light.svg#EastmanCondensedTrial-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-Bold';
    src: url('EastmanCondensedTrial-Bold.eot');
    src: url('EastmanCondensedTrial-Bold.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-Bold.woff2') format('woff2'),
        url('EastmanCondensedTrial-Bold.woff') format('woff'),
        url('EastmanCondensedTrial-Bold.ttf') format('truetype'),
        url('EastmanCondensedTrial-Bold.svg#EastmanCondensedTrial-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-LightItalic';
    src: url('EastmanCondensedTrial-LightItalic.eot');
    src: url('EastmanCondensedTrial-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-LightItalic.woff2') format('woff2'),
        url('EastmanCondensedTrial-LightItalic.woff') format('woff'),
        url('EastmanCondensedTrial-LightItalic.ttf') format('truetype'),
        url('EastmanCondensedTrial-LightItalic.svg#EastmanCondensedTrial-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-ExboldItalic';
    src: url('EastmanCondensedTrial-ExtraboldItalic.eot');
    src: url('EastmanCondensedTrial-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-ExtraboldItalic.woff2') format('woff2'),
        url('EastmanCondensedTrial-ExtraboldItalic.woff') format('woff'),
        url('EastmanCondensedTrial-ExtraboldItalic.ttf') format('truetype'),
        url('EastmanCondensedTrial-ExtraboldItalic.svg#EastmanCondensedTrial-ExtraboldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-Heavy';
    src: url('EastmanCondensedTrial-Heavy.eot');
    src: url('EastmanCondensedTrial-Heavy.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-Heavy.woff2') format('woff2'),
        url('EastmanCondensedTrial-Heavy.woff') format('woff'),
        url('EastmanCondensedTrial-Heavy.ttf') format('truetype'),
        url('EastmanCondensedTrial-Heavy.svg#EastmanCondensedTrial-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-DemiBold';
    src: url('EastmanCondensedTrial-DemiBold.eot');
    src: url('EastmanCondensedTrial-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-DemiBold.woff2') format('woff2'),
        url('EastmanCondensedTrial-DemiBold.woff') format('woff'),
        url('EastmanCondensedTrial-DemiBold.ttf') format('truetype'),
        url('EastmanCondensedTrial-DemiBold.svg#EastmanCondensedTrial-DemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-DemiBoldItalic';
    src: url('EastmanCondensedTrial-DemiBoldItalic.eot');
    src: url('EastmanCondensedTrial-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-DemiBoldItalic.woff2') format('woff2'),
        url('EastmanCondensedTrial-DemiBoldItalic.woff') format('woff'),
        url('EastmanCondensedTrial-DemiBoldItalic.ttf') format('truetype'),
        url('EastmanCondensedTrial-DemiBoldItalic.svg#EastmanCondensedTrial-DemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-Extrabold';
    src: url('EastmanCondensedTrial-Extrabold.eot');
    src: url('EastmanCondensedTrial-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-Extrabold.woff2') format('woff2'),
        url('EastmanCondensedTrial-Extrabold.woff') format('woff'),
        url('EastmanCondensedTrial-Extrabold.ttf') format('truetype'),
        url('EastmanCondensedTrial-Extrabold.svg#EastmanCondensedTrial-Extrabold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-Italic';
    src: url('EastmanCondensedTrial-Italic.eot');
    src: url('EastmanCondensedTrial-Italic.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-Italic.woff2') format('woff2'),
        url('EastmanCondensedTrial-Italic.woff') format('woff'),
        url('EastmanCondensedTrial-Italic.ttf') format('truetype'),
        url('EastmanCondensedTrial-Italic.svg#EastmanCondensedTrial-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-HeavyItalic';
    src: url('EastmanCondensedTrial-HeavyItalic.eot');
    src: url('EastmanCondensedTrial-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-HeavyItalic.woff2') format('woff2'),
        url('EastmanCondensedTrial-HeavyItalic.woff') format('woff'),
        url('EastmanCondensedTrial-HeavyItalic.ttf') format('truetype'),
        url('EastmanCondensedTrial-HeavyItalic.svg#EastmanCondensedTrial-HeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-ExtralightItalic';
    src: url('EastmanCondensedTrial-ExtralightItalic.eot');
    src: url('EastmanCondensedTrial-ExtralightItalic.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-ExtralightItalic.woff2') format('woff2'),
        url('EastmanCondensedTrial-ExtralightItalic.woff') format('woff'),
        url('EastmanCondensedTrial-ExtralightItalic.ttf') format('truetype'),
        url('EastmanCondensedTrial-ExtralightItalic.svg#EastmanCondensedTrial-ExtralightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-Extralight';
    src: url('EastmanCondensedTrial-Extralight.eot');
    src: url('EastmanCondensedTrial-Extralight.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-Extralight.woff2') format('woff2'),
        url('EastmanCondensedTrial-Extralight.woff') format('woff'),
        url('EastmanCondensedTrial-Extralight.ttf') format('truetype'),
        url('EastmanCondensedTrial-Extralight.svg#EastmanCondensedTrial-Extralight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-MediumItalic';
    src: url('EastmanCondensedTrial-MediumItalic.eot');
    src: url('EastmanCondensedTrial-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-MediumItalic.woff2') format('woff2'),
        url('EastmanCondensedTrial-MediumItalic.woff') format('woff'),
        url('EastmanCondensedTrial-MediumItalic.ttf') format('truetype'),
        url('EastmanCondensedTrial-MediumItalic.svg#EastmanCondensedTrial-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-Regular';
    src: url('EastmanCondensedTrial-Regular.eot');
    src: url('EastmanCondensedTrial-Regular.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-Regular.woff2') format('woff2'),
        url('EastmanCondensedTrial-Regular.woff') format('woff'),
        url('EastmanCondensedTrial-Regular.ttf') format('truetype'),
        url('EastmanCondensedTrial-Regular.svg#EastmanCondensedTrial-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-Medium';
    src: url('EastmanCondensedTrial-Medium.eot');
    src: url('EastmanCondensedTrial-Medium.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-Medium.woff2') format('woff2'),
        url('EastmanCondensedTrial-Medium.woff') format('woff'),
        url('EastmanCondensedTrial-Medium.ttf') format('truetype'),
        url('EastmanCondensedTrial-Medium.svg#EastmanCondensedTrial-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'astmanCondensedTrial-ThinItalic';
    src: url('EastmanCondensedTrial-ThinItalic.eot');
    src: url('EastmanCondensedTrial-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-ThinItalic.woff2') format('woff2'),
        url('EastmanCondensedTrial-ThinItalic.woff') format('woff'),
        url('EastmanCondensedTrial-ThinItalic.ttf') format('truetype'),
        url('EastmanCondensedTrial-ThinItalic.svg#EastmanCondensedTrial-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-RegularOffsetItalic';
    src: url('EastmanCondensedTrial-RegularOffsetItalic.eot');
    src: url('EastmanCondensedTrial-RegularOffsetItalic.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-RegularOffsetItalic.woff2') format('woff2'),
        url('EastmanCondensedTrial-RegularOffsetItalic.woff') format('woff'),
        url('EastmanCondensedTrial-RegularOffsetItalic.ttf') format('truetype'),
        url('EastmanCondensedTrial-RegularOffsetItalic.svg#EastmanCondensedTrial-RegularOffsetItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-Thin';
    src: url('EastmanCondensedTrial-Thin.eot');
    src: url('EastmanCondensedTrial-Thin.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-Thin.woff2') format('woff2'),
        url('EastmanCondensedTrial-Thin.woff') format('woff'),
        url('EastmanCondensedTrial-Thin.ttf') format('truetype'),
        url('EastmanCondensedTrial-Thin.svg#EastmanCondensedTrial-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-RegularOffset';
    src: url('EastmanCondensedTrial-RegularOffset.eot');
    src: url('EastmanCondensedTrial-RegularOffset.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-RegularOffset.woff2') format('woff2'),
        url('EastmanCondensedTrial-RegularOffset.woff') format('woff'),
        url('EastmanCondensedTrial-RegularOffset.ttf') format('truetype'),
        url('EastmanCondensedTrial-RegularOffset.svg#EastmanCondensedTrial-RegularOffset') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}