@font-face {
    font-family: 'EastmanCondensedTrial-BoldItalic';
    src: url('EastmanCondensedTrial-BoldItalic.eot');
    src: url('EastmanCondensedTrial-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-BoldItalic.woff2') format('woff2'),
        url('EastmanCondensedTrial-BoldItalic.woff') format('woff'),
        url('EastmanCondensedTrial-BoldItalic.ttf') format('truetype'),
        url('EastmanCondensedTrial-BoldItalic.svg#EastmanCondensedTrial-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-BlackItalic';
    src: url('EastmanCondensedTrial-BlackItalic.eot');
    src: url('EastmanCondensedTrial-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-BlackItalic.woff2') format('woff2'),
        url('EastmanCondensedTrial-BlackItalic.woff') format('woff'),
        url('EastmanCondensedTrial-BlackItalic.ttf') format('truetype'),
        url('EastmanCondensedTrial-BlackItalic.svg#EastmanCondensedTrial-BlackItalic') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-Black';
    src: url('EastmanCondensedTrial-Black.eot');
    src: url('EastmanCondensedTrial-Black.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-Black.woff2') format('woff2'),
        url('EastmanCondensedTrial-Black.woff') format('woff'),
        url('EastmanCondensedTrial-Black.ttf') format('truetype'),
        url('EastmanCondensedTrial-Black.svg#EastmanCondensedTrial-Black') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-Light';
    src: url('EastmanCondensedTrial-Light.eot');
    src: url('EastmanCondensedTrial-Light.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-Light.woff2') format('woff2'),
        url('EastmanCondensedTrial-Light.woff') format('woff'),
        url('EastmanCondensedTrial-Light.ttf') format('truetype'),
        url('EastmanCondensedTrial-Light.svg#EastmanCondensedTrial-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-Bold';
    src: url('EastmanCondensedTrial-Bold.eot');
    src: url('EastmanCondensedTrial-Bold.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-Bold.woff2') format('woff2'),
        url('EastmanCondensedTrial-Bold.woff') format('woff'),
        url('EastmanCondensedTrial-Bold.ttf') format('truetype'),
        url('EastmanCondensedTrial-Bold.svg#EastmanCondensedTrial-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-LightItalic';
    src: url('EastmanCondensedTrial-LightItalic.eot');
    src: url('EastmanCondensedTrial-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-LightItalic.woff2') format('woff2'),
        url('EastmanCondensedTrial-LightItalic.woff') format('woff'),
        url('EastmanCondensedTrial-LightItalic.ttf') format('truetype'),
        url('EastmanCondensedTrial-LightItalic.svg#EastmanCondensedTrial-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-ExboldItalic';
    src: url('EastmanCondensedTrial-ExtraboldItalic.eot');
    src: url('EastmanCondensedTrial-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-ExtraboldItalic.woff2') format('woff2'),
        url('EastmanCondensedTrial-ExtraboldItalic.woff') format('woff'),
        url('EastmanCondensedTrial-ExtraboldItalic.ttf') format('truetype'),
        url('EastmanCondensedTrial-ExtraboldItalic.svg#EastmanCondensedTrial-ExtraboldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-Heavy';
    src: url('EastmanCondensedTrial-Heavy.eot');
    src: url('EastmanCondensedTrial-Heavy.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-Heavy.woff2') format('woff2'),
        url('EastmanCondensedTrial-Heavy.woff') format('woff'),
        url('EastmanCondensedTrial-Heavy.ttf') format('truetype'),
        url('EastmanCondensedTrial-Heavy.svg#EastmanCondensedTrial-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-DemiBold';
    src: url('EastmanCondensedTrial-DemiBold.eot');
    src: url('EastmanCondensedTrial-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-DemiBold.woff2') format('woff2'),
        url('EastmanCondensedTrial-DemiBold.woff') format('woff'),
        url('EastmanCondensedTrial-DemiBold.ttf') format('truetype'),
        url('EastmanCondensedTrial-DemiBold.svg#EastmanCondensedTrial-DemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-DemiBoldItalic';
    src: url('EastmanCondensedTrial-DemiBoldItalic.eot');
    src: url('EastmanCondensedTrial-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-DemiBoldItalic.woff2') format('woff2'),
        url('EastmanCondensedTrial-DemiBoldItalic.woff') format('woff'),
        url('EastmanCondensedTrial-DemiBoldItalic.ttf') format('truetype'),
        url('EastmanCondensedTrial-DemiBoldItalic.svg#EastmanCondensedTrial-DemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-Extrabold';
    src: url('EastmanCondensedTrial-Extrabold.eot');
    src: url('EastmanCondensedTrial-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-Extrabold.woff2') format('woff2'),
        url('EastmanCondensedTrial-Extrabold.woff') format('woff'),
        url('EastmanCondensedTrial-Extrabold.ttf') format('truetype'),
        url('EastmanCondensedTrial-Extrabold.svg#EastmanCondensedTrial-Extrabold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-Italic';
    src: url('EastmanCondensedTrial-Italic.eot');
    src: url('EastmanCondensedTrial-Italic.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-Italic.woff2') format('woff2'),
        url('EastmanCondensedTrial-Italic.woff') format('woff'),
        url('EastmanCondensedTrial-Italic.ttf') format('truetype'),
        url('EastmanCondensedTrial-Italic.svg#EastmanCondensedTrial-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-HeavyItalic';
    src: url('EastmanCondensedTrial-HeavyItalic.eot');
    src: url('EastmanCondensedTrial-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-HeavyItalic.woff2') format('woff2'),
        url('EastmanCondensedTrial-HeavyItalic.woff') format('woff'),
        url('EastmanCondensedTrial-HeavyItalic.ttf') format('truetype'),
        url('EastmanCondensedTrial-HeavyItalic.svg#EastmanCondensedTrial-HeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-ExtralightItalic';
    src: url('EastmanCondensedTrial-ExtralightItalic.eot');
    src: url('EastmanCondensedTrial-ExtralightItalic.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-ExtralightItalic.woff2') format('woff2'),
        url('EastmanCondensedTrial-ExtralightItalic.woff') format('woff'),
        url('EastmanCondensedTrial-ExtralightItalic.ttf') format('truetype'),
        url('EastmanCondensedTrial-ExtralightItalic.svg#EastmanCondensedTrial-ExtralightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-Extralight';
    src: url('EastmanCondensedTrial-Extralight.eot');
    src: url('EastmanCondensedTrial-Extralight.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-Extralight.woff2') format('woff2'),
        url('EastmanCondensedTrial-Extralight.woff') format('woff'),
        url('EastmanCondensedTrial-Extralight.ttf') format('truetype'),
        url('EastmanCondensedTrial-Extralight.svg#EastmanCondensedTrial-Extralight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-MediumItalic';
    src: url('EastmanCondensedTrial-MediumItalic.eot');
    src: url('EastmanCondensedTrial-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-MediumItalic.woff2') format('woff2'),
        url('EastmanCondensedTrial-MediumItalic.woff') format('woff'),
        url('EastmanCondensedTrial-MediumItalic.ttf') format('truetype'),
        url('EastmanCondensedTrial-MediumItalic.svg#EastmanCondensedTrial-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-Regular';
    src: url('EastmanCondensedTrial-Regular.eot');
    src: url('EastmanCondensedTrial-Regular.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-Regular.woff2') format('woff2'),
        url('EastmanCondensedTrial-Regular.woff') format('woff'),
        url('EastmanCondensedTrial-Regular.ttf') format('truetype'),
        url('EastmanCondensedTrial-Regular.svg#EastmanCondensedTrial-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-Medium';
    src: url('EastmanCondensedTrial-Medium.eot');
    src: url('EastmanCondensedTrial-Medium.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-Medium.woff2') format('woff2'),
        url('EastmanCondensedTrial-Medium.woff') format('woff'),
        url('EastmanCondensedTrial-Medium.ttf') format('truetype'),
        url('EastmanCondensedTrial-Medium.svg#EastmanCondensedTrial-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'astmanCondensedTrial-ThinItalic';
    src: url('EastmanCondensedTrial-ThinItalic.eot');
    src: url('EastmanCondensedTrial-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-ThinItalic.woff2') format('woff2'),
        url('EastmanCondensedTrial-ThinItalic.woff') format('woff'),
        url('EastmanCondensedTrial-ThinItalic.ttf') format('truetype'),
        url('EastmanCondensedTrial-ThinItalic.svg#EastmanCondensedTrial-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-RegularOffsetItalic';
    src: url('EastmanCondensedTrial-RegularOffsetItalic.eot');
    src: url('EastmanCondensedTrial-RegularOffsetItalic.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-RegularOffsetItalic.woff2') format('woff2'),
        url('EastmanCondensedTrial-RegularOffsetItalic.woff') format('woff'),
        url('EastmanCondensedTrial-RegularOffsetItalic.ttf') format('truetype'),
        url('EastmanCondensedTrial-RegularOffsetItalic.svg#EastmanCondensedTrial-RegularOffsetItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-Thin';
    src: url('EastmanCondensedTrial-Thin.eot');
    src: url('EastmanCondensedTrial-Thin.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-Thin.woff2') format('woff2'),
        url('EastmanCondensedTrial-Thin.woff') format('woff'),
        url('EastmanCondensedTrial-Thin.ttf') format('truetype'),
        url('EastmanCondensedTrial-Thin.svg#EastmanCondensedTrial-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EastmanCondensedTrial-RegularOffset';
    src: url('EastmanCondensedTrial-RegularOffset.eot');
    src: url('EastmanCondensedTrial-RegularOffset.eot?#iefix') format('embedded-opentype'),
        url('EastmanCondensedTrial-RegularOffset.woff2') format('woff2'),
        url('EastmanCondensedTrial-RegularOffset.woff') format('woff'),
        url('EastmanCondensedTrial-RegularOffset.ttf') format('truetype'),
        url('EastmanCondensedTrial-RegularOffset.svg#EastmanCondensedTrial-RegularOffset') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

